{% extends 'base.html.twig' %}

{% block title %}My Profile - eco. online store {% endblock %}

{% block content %}
    <h2>My Profile</h2>

    {% if app.user %}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.firstname }}#}
{#        </div>#}
        <hr>
        <div>
            <ul>
                <li><a href="{{ path('password') }}">Update my password</a></li>
                <li><a href="{{ path('address') }}">Manage my addresses</a></li>
                <li><a href="{{ path('my_orders') }}">My Orders</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
