{% extends 'base.html.twig' %}

{% block title %}Update Password - eco. online store {% endblock %}

{% block content %}
    <h2>Update my Password</h2>
    <a href="{{ path('profile') }}">Return</a>
    <hr>
    {% if success %}
        <div class="alert alert-info">{{ success }}</div>
        <hr>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        <hr>
    {% endif %}

    <div>
        {{ form(form) }}
    </div>
{% endblock %}
