{% extends 'base.html.twig' %}

{% block title %}Log In - eco. online store {% endblock %}

{% block content %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h2>Log In</h2>
        <hr>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Write your email" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Write your password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <hr>
        <button class="btn btn-block btn-primary" type="submit">
            Log In
        </button>
    </form>
{% endblock %}