@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,*::before,*::after{box-sizing: border-box;}

/**************************************************************************/
/**************                    CUSTOM                    **************/
/**************************************************************************/

:root{
    --ff-primary:'Nunito', sans-serif;

    --fw-reg:300;
    --fw-bold:900;

    --clr-black:#000;
    --clr-light:#FFF;
    --clr-dark:var(--clr-black);
    --clr-accent:#DC3545;


    --fs-h1:3rem;
    --fs-h2:2.5rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs:0 0 0.5rem grey;
}

/**************************************************************************/
/**************                    GENERAL                   **************/
/**************************************************************************/

body{
    margin:0;
    min-height: 100vh;
    font-family: var(--ff-primary)!important;
    font-size: var(--fs-body);
    line-height:1.6!important;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem!important;
}

nav a {
    color: var(--clr-light)!important;
}

a:hover {
    text-decoration: none!important;
}

nav, .navbar-item-custom, .navbar-item-custom a {
    color: var(--clr-light);
}

nav {
    background-color: var(--clr-black);
}

.shopping-cart {
    padding: 0.5rem 0 0.5rem 1rem;
}

.shopping-cart-icon {
    height: 22px;
}

/**************************************************************************/
/**************                    PROFILE                   **************/
/**************************************************************************/

.add-address-link {
    margin-right: 1%;
}

.add-address {
    height: 24px;
}

/**************************************************************************/
/**************                    PRODUCTS                  **************/
/**************************************************************************/

.product-price, .product-brand, .product-name {
    margin: 0;
}

.product-brand {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.product-price {
    font-weight: var(--fw-bold);
}

.product-redirect-link {
    color: var(--clr-black);
}

.product-redirect-link:hover {
    color: inherit;
}

/**************************************************************************/
/**************                    PRODUCT                   **************/
/**************************************************************************/

.focus-product {
    width: 90%;
    margin: 4% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.focus-product-img,.focus-product-info {
    width: 45%;
    margin: 0 2%;
}

.focus-product-zoom-img {
    width: 100%;
    margin-bottom: 5%;
}

.focus-product-thumbnail {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.focus-thumbnail-img {
    width: 20%;
    opacity: .7;
}

.focus-thumbnail-img.active, .focus-thumbnail-img:hover {
    opacity: 1;
    border: 1px solid var(--clr-accent);
    border-radius: 4px;
    box-shadow: var(--bs);
    cursor: pointer;
}

.focus-product-info { align-items: center; }

.focus-product-info-brand { text-transform: uppercase; }

.focus-product-info-name,.focus-product-info-brand { margin: 0; }

.focus-product-info-price {
    margin: 1rem 0;
    font-weight: var(--fw-bold);
}

.focus-product-detail { font-weight: var(--fw-bold); }

.focus-product-detail:hover {
    cursor: pointer;
    color: var(--clr-accent);
}

.hidden { display: none; }

.shop-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
}

/**************************************************************************/
/**************                     CART                     **************/
/**************************************************************************/

.cart-product-img {
    padding: 0.25rem;
    box-shadow: var(--bs);
    border-radius: 0.25rem;
    max-width: 100%;
    height: 100px;
}

.cart-product-name {
    font-weight: var(--fw-bold);
}

.cart-product-name a {
    color: var(--clr-black);
}

.cart-product-name a:hover {
    color: var(--clr-accent);
}

.cart-total-price {
    font-weight: var(--fw-bold);
}

.empty-cart {
    font-size: var(--fs-h2);
    margin: 0;
}

.empty-cart-img {
    height: 100px;
}

/**************************************************************************/
/**************                    FOOTER                    **************/
/**************************************************************************/

.footer-custom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-black);
}

.footer-text{
    text-align: center;
    font-size: var(--fs-body);
    margin: 1rem 0;
    color: var(--clr-light);
}
