{% extends 'base.html.twig' %}

{% block title %}Products - eco. online store {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
            <h5>Filter</h5>
            {{ form(form) }}
        </div>
        <div class="col-md-10">
            <h2>Products</h2>
            <hr>
            <div class="row product-container">
                {% for product in products %}
                    <div class="product col-md-3 text-center mt-4" style="width: 18rem;">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}
