{% extends 'base.html.twig' %}

{% block title %}Thanks for your purchase. - eco. online store {% endblock %}

{% block content %}
    <h2>Thanks For Your Purchase {{ order.user.firstname }},</h2>
    <hr>

    <p>
        Your order <strong>#{{ order.reference }}</strong> has been confirmed. <br><br>

        Delivery by <strong>{{ order.carrierName }}</strong> to the following address: <br>
        {{ order.delivery | raw }}<br><br>

        We hope that it’s exactly what you were looking for. Let us know how you like it. <br><br>

        Thank you for ordering from <strong>eco. online store</strong>&copy;. <br>
    </p>
{% endblock %}
